{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
  {% endif %}
  {% set description = config.site_description %}
  {% if page and page.meta and page.meta.description %}
    {% set description = page.meta.description %}
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta name="twitter:card" content="app" />
  <meta name="twitter:site" content="ponylang" />
  <meta name="twitter:creator" content="ponylang" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
{% endblock %}